---
layout: compress
permalink: /index.html
---
<!doctype html>
<html>
<head>
	{% include head.liquid %}
	<title>About | {{ site.title }}</title>
	{% include loadCSS.liquid %}
</head>
<body>
	{% include header.liquid %}
	<div id="container">
		<main class="threeD" id="about">
			{% assign sections = site.about | sort: 'order' %}
			{% for section in sections %}
				{% assign slug = section.title | slugify %}
				{% assign oddclass = '' %}
				{% assign isodd = forloop.index | modulo:2 %}
				{% if isodd == 1 %}{% assign oddclass = ' threeD-odd' %}{% endif %}
				<section id="{{ slug }}" class="project-cover threeD-cover">
					<img src="{{ section.image }}" class="threeD-hero threeD-pane {{ slug }}-hero">
					<div class="threeD-text-container threeD-floaters threeD-pane">
						<div class="threeD-text text {{ slug }}-text{{ oddclass }}" style="background:{{ section.tint }}">
							{{ section.content }}
						</div>
					</div>
				</section>
			{% endfor %}
		</main>
	</div>
</body>
</html>
