---
layout: threeD
permalink: /projects/index.html
title: Work
---
{% for res in site.residences %}
	{% include utils/residence_vars.liquid residence=res %}
	{% assign homeimg = res.images.homepage %}
	<section class="threeD-cover" id="{{ slug }}">
		<img src="{{ homeimg.main | prepend: folder }}" class="threeD-pane threeD-hero">
		<a class="threeD-pane threeD-floaters" href="{{ res.url }}">
			<img src="{{ homeimg.top | prepend: folder }}" class="threeD-float threeD-top">
			<img src="{{ homeimg.left | prepend: folder }}" class="threeD-float threeD-left">
			<img src="{{ homeimg.right | prepend: folder }}" class="threeD-float threeD-right">
		</a>
	</section>
{% endfor %}
