---
permalink: /
---
<!DOCTYPE html>
<html>
<head>
	{% include head.html %}
</head>
	<body>
		{% include header.html %}

		<link rel="stylesheet" href="/css/three-d.css">
		<main class="three-d home" id="homepage-main">
			{% for project in site.posts %}
				{% assign homeimg = project.images.homepage %}
				{% assign folder = project.images.folder %}
				{% unless folder %}
					{% assign folder = '/img/' | append: project.name | append: '/' %}
				{% endunless %}
				<a class="project-3d" href="{{ project.url }}" title="{{ project.title }}">
					<img
						class="project-3d-hero project-3d-pane"
						alt="{{ project.title }}"
						src="{{ homeimg.main | prepend: folder }}"
					>
					<div class="project-3d-floaters project-3d-pane">
						<img
							class="project-3d-float project-3d-top"
							alt="{{ project.images.list[homeimg.top] }}"
							src="{{ homeimg.top | prepend: folder }}"
						>
						<img
							class="project-3d-float project-3d-left"
							alt="{{ project.images.list[homeimg.left] }}"
							src="{{ homeimg.left | prepend: folder }}"
						>
						<img
							class="project-3d-float project-3d-right"
							alt="{{ project.images.list[homeimg.right }}"
							src="{{ homeimg.right | prepend: folder }}"
						>
					</div>
				</a>
			{% endfor %}
		</main>
	</body>
</html>
