---
layout: compress
---
<!doctype html>
<html>
<head>
  {% include head.liquid %}
	<title>{{ page.title }} | {{ site.title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/gallery.css">
	{% include utils/residence_vars.liquid residence=page %}
</head>
  <body>
    {% include header.liquid %}
    <article id="project-page" class="project-container">
			<a class="arrow arrow-back arrow-enabled" href="{{ site.data.nav[0].href }}">
				<span class="arrow-back-icon">«</span>
			</a>

			<section class="gallery">
				{% for image in page.images.list %}
					{% comment %}
					These radio inputs correspond to each gallery image. The selected
					radio represents the currently shown image.
					{% endcomment %}
					<input type="radio"
						name="gallery" hidden
						class="gallery-tab"
						value="{{ forloop.index }}"
						id="gal-{{ forloop.index }}"
						{% if forloop.first %}checked{% endif %}
					>

					<div class="gallery-item gal-item-{{ forloop.index }}">
						<img
							src="{{ image[0] | prepend: folder }}"
							alt="{{ image[1] }}"
							class="gallery-image gal-image-{{ forloop.index }}"
						>

						<label aria-role="button"
							{% if forloop.first %}
								class="arrow arrow-left arrow-disabled"
								aria-disabled="true"
							{% else %}
								class="arrow arrow-left arrow-enabled"
								aria-label="Previous Image"
								for="gal-{{ forloop.index | minus:1 }}"
							{% endif %}
						>
							<div class="arrow-lines"></div>
						</label>

						<label aria-role="button"
							{% if forloop.last %}
								class="arrow arrow-right arrow-disabled"
								aria-disabled="true"
							{% else %}
								class="arrow arrow-right arrow-enabled"
								aria-label="Next Image"
								for="gal-{{ forloop.index | plus:1 }}"
							{% endif %}
						>
							<div class="arrow-lines"></div>
						</label>
					</div>
				{% endfor %}
			</section>

			<aside id="project-details" class="project-details">
				{{ content }}
			</aside>
		</article>
  </body>
</html>
